n8n-flooow-image-collector-v3-cinematic.json
{
  "name": "Flooow - Collecteur Images v3 (Cinematic Guidelines)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 3 * * 0"}]
        }
      },
      "id": "schedule-weekly",
      "name": "Déclencheur Hebdomadaire",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 400]
    },
    {
      "parameters": {
        "operation": "read",
        "filePath": "/path/to/flooow-sejours-images-mapping-v2.json"
      },
      "id": "load-mapping-v2",
      "name": "Charger Mapping v2",
      "type": "n8n-nodes-base.readFile",
      "typeVersion": 1,
      "position": [450, 400],
      "notes": "Mapping v2 avec guidelines cinématographiques"
    },
    {
      "parameters": {
        "jsCode": "// Parser le JSON mapping v2\nconst mapping = JSON.parse($input.first().json.data);\nconst sejours = mapping.sejours;\nconst globalConstraints = mapping.global_visual_constraints;\n\n// Retourner chaque séjour avec contraintes globales\nreturn sejours.map(sejour => ({\n  json: {\n    ...sejour,\n    global_constraints: globalConstraints,\n    supabase_config: mapping.supabase_config\n  }\n}));"
      },
      "id": "parse-mapping-v2",
      "name": "Parser Mapping v2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "jsCode": "// Préparer les recherches avec stratégie visuelle\nconst item = $input.first().json;\nconst visualStrategy = item.visual_strategy;\n\n// Utiliser primary_query + secondary_queries\nconst queries = [\n  { type: 'primary', query: visualStrategy.primary_query, priority: 1 },\n  ...visualStrategy.secondary_queries.slice(0, 3).map((q, i) => ({\n    type: 'secondary',\n    query: q,\n    priority: i + 2\n  }))\n];\n\nreturn queries.map(queryObj => ({\n  json: {\n    ...item,\n    search_query: queryObj.query,\n    query_type: queryObj.type,\n    query_priority: queryObj.priority,\n    visual_mood: visualStrategy.mood,\n    color_palette: visualStrategy.color_palette,\n    composition_style: visualStrategy.composition,\n    images_per_query: queryObj.type === 'primary' ? 4 : 2\n  }\n}));"
      },
      "id": "prepare-cinematic-searches",
      "name": "Préparer Recherches Cinématiques",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "method": "GET",
        "url": "https://api.unsplash.com/search/photos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "query", "value": "={{ $json.search_query }}"},
            {"name": "per_page", "value": "={{ $json.images_per_query }}"},
            {"name": "orientation", "value": "landscape"},
            {"name": "content_filter", "value": "high"},
            {"name": "order_by", "value": "relevant"},
            {"name": "color", "value": ""},
            {"name": "collections", "value": ""}
          ]
        },
        "options": {"timeout": 10000}
      },
      "id": "unsplash-cinematic",
      "name": "Unsplash Cinematic Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300],
      "credentials": {"httpQueryAuth": {"id": "unsplash-api-key"}},
      "notes": "Recherche avec mots-clés cinématographiques précis"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "GET",
        "url": "https://api.pexels.com/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "query", "value": "={{ $json.search_query }}"},
            {"name": "per_page", "value": "={{ $json.images_per_query }}"},
            {"name": "orientation", "value": "landscape"},
            {"name": "size", "value": "large"}
          ]
        },
        "options": {"timeout": 10000}
      },
      "id": "pexels-cinematic",
      "name": "Pexels Cinematic Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 500],
      "credentials": {"httpHeaderAuth": {"id": "pexels-api-key"}},
      "notes": "Fallback Pexels avec mêmes queries"
    },
    {
      "parameters": {
        "jsCode": "// Normaliser Unsplash + Filtres visuels avancés\nconst results = [];\nconst globalConstraints = $input.first().json.global_constraints;\nconst mustAvoid = globalConstraints.must_avoid;\n\nfor (const item of $input.all()) {\n  const sejour = item.json;\n  const apiResults = item.json.results || [];\n  \n  for (const photo of apiResults) {\n    // Filtre dimensions\n    if (photo.width < 1200 || photo.height < 800) continue;\n    \n    // Filtre description anti-pattern (éviter photos staged)\n    const description = (photo.description || '') + ' ' + (photo.alt_description || '');\n    const hasExcludedPattern = mustAvoid.some(pattern => \n      description.toLowerCase().includes(pattern.toLowerCase())\n    );\n    if (hasExcludedPattern) continue;\n    \n    // Score qualité visuelle\n    const visualScore = calculateVisualScore(photo, sejour);\n    if (visualScore < 3) continue; // Minimum 3/5\n    \n    results.push({\n      source: 'unsplash',\n      source_id: photo.id,\n      url_regular: photo.urls.regular,\n      url_raw: photo.urls.raw,\n      url_thumb: photo.urls.thumb,\n      download_url: photo.links.download_location,\n      photographer: photo.user.name,\n      photographer_url: photo.user.links.html,\n      width: photo.width,\n      height: photo.height,\n      alt_description: photo.alt_description || sejour.marketing_title,\n      color: photo.color,\n      likes: photo.likes,\n      visual_score: visualScore,\n      // Métadonnées séjour\n      slug: sejour.slug,\n      marketing_title: sejour.marketing_title,\n      emotion_tag: sejour.emotion_tag,\n      carousel_group: sejour.carousel_group,\n      age_range: sejour.age_range,\n      keyword_used: sejour.search_query,\n      query_type: sejour.query_type,\n      query_priority: sejour.query_priority,\n      visual_mood: sejour.visual_mood,\n      color_palette: sejour.color_palette,\n      supabase_folder: `${sejour.carousel_group}/${sejour.slug}`\n    });\n  }\n}\n\n// Fonction score qualité visuelle\nfunction calculateVisualScore(photo, sejour) {\n  let score = 3; // Base score\n  \n  // Bonus pour likes élevés\n  if (photo.likes > 100) score += 0.5;\n  if (photo.likes > 500) score += 0.5;\n  \n  // Bonus pour ratio aspect proche 16:9 (cinéma)\n  const ratio = photo.width / photo.height;\n  if (ratio >= 1.5 && ratio <= 1.9) score += 0.5;\n  \n  // Bonus pour couleur dominante alignée avec palette\n  // (simplifié - nécessiterait parsing color_palette)\n  if (photo.color) score += 0.2;\n  \n  // Pénalité pour description trop \"stock photo\"\n  const description = (photo.description || '').toLowerCase();\n  if (description.includes('group of people') || description.includes('team')) {\n    score -= 1;\n  }\n  \n  return Math.min(5, score);\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "normalize-unsplash-cinematic",
      "name": "Normaliser Unsplash Cinématique",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "notes": "Filtres visuels avancés : anti-pattern, score qualité"
    },
    {
      "parameters": {
        "jsCode": "// Normaliser Pexels + Filtres visuels\nconst results = [];\nconst globalConstraints = $input.first().json.global_constraints;\n\nfor (const item of $input.all()) {\n  const sejour = item.json;\n  const apiResults = item.json.photos || [];\n  \n  for (const photo of apiResults) {\n    if (photo.width < 1200 || photo.height < 800) continue;\n    \n    // Score visuel simplifié pour Pexels\n    const visualScore = 3.5; // Base Pexels\n    if (photo.width > 2000) visualScore += 0.5;\n    \n    results.push({\n      source: 'pexels',\n      source_id: String(photo.id),\n      url_regular: photo.src.large,\n      url_raw: photo.src.original,\n      url_thumb: photo.src.medium,\n      download_url: photo.src.original,\n      photographer: photo.photographer,\n      photographer_url: photo.photographer_url,\n      width: photo.width,\n      height: photo.height,\n      alt_description: photo.alt || sejour.marketing_title,\n      color: photo.avg_color || '#000000',\n      likes: 0,\n      visual_score: visualScore,\n      // Métadonnées séjour\n      slug: sejour.slug,\n      marketing_title: sejour.marketing_title,\n      emotion_tag: sejour.emotion_tag,\n      carousel_group: sejour.carousel_group,\n      age_range: sejour.age_range,\n      keyword_used: sejour.search_query,\n      query_type: sejour.query_type,\n      visual_mood: sejour.visual_mood,\n      supabase_folder: `${sejour.carousel_group}/${sejour.slug}`\n    });\n  }\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "normalize-pexels-cinematic",
      "name": "Normaliser Pexels Cinématique",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 500]
    },
    {
      "parameters": {"mode": "combine", "combineBy": "combineAll"},
      "id": "merge-cinematic",
      "name": "Fusionner Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"combineOperation": "all"},
          "conditions": [
            {"leftValue": "={{ $json.width }}", "rightValue": "1200", "operation": "largerEqual"},
            {"leftValue": "={{ $json.height }}", "rightValue": "800", "operation": "largerEqual"},
            {"leftValue": "={{ $json.visual_score }}", "rightValue": "3", "operation": "largerEqual"}
          ]
        }
      },
      "id": "filter-cinematic-quality",
      "name": "Filtre Qualité Cinématique",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 400],
      "notes": "Filtre dimensions + visual_score minimum"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT source_id FROM sejours_images WHERE source = '{{ $json.source }}' AND source_id = '{{ $json.source_id }}' LIMIT 1;"
      },
      "id": "check-existing",
      "name": "Vérifier Existant",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1850, 400],
      "credentials": {"supabaseApi": {"id": "supabase-flooow"}}
    },
    {
      "parameters": {
        "conditions": {"string": [{"value1": "={{ $json.data }}", "operation": "isEmpty"}]}
      },
      "id": "filter-new-only",
      "name": "Filtrer Nouveaux",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2050, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.download_url }}",
        "options": {
          "response": {"response": {"responseFormat": "file", "outputPropertyName": "image_binary"}},
          "timeout": 30000
        }
      },
      "id": "download-image",
      "name": "Télécharger Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2250, 400]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "flooow-sejours-images",
        "fileName": "={{ $json.supabase_folder }}/{{ $json.source }}_{{ $json.emotion_tag }}_{{ $json.source_id }}.jpg",
        "binaryPropertyName": "image_binary",
        "additionalFields": {
          "contentType": "image/jpeg",
          "cacheControl": "public, max-age=31536000, immutable",
          "upsert": false
        }
      },
      "id": "supabase-upload",
      "name": "Upload Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2450, 400],
      "credentials": {"supabaseApi": {"id": "supabase-flooow"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO sejours_images (\n  slug, marketing_title, emotion_tag, carousel_group, age_range,\n  source, source_id, storage_path, public_url, thumbnail_url,\n  photographer_name, photographer_url, alt_description,\n  keyword_used, width, height, color, likes,\n  visual_score, visual_mood, color_palette, query_type, query_priority,\n  imported_at\n) VALUES (\n  '{{ $json.slug }}', '{{ $json.marketing_title }}',\n  '{{ $json.emotion_tag }}', '{{ $json.carousel_group }}', '{{ $json.age_range }}',\n  '{{ $json.source }}', '{{ $json.source_id }}',\n  '{{ $json.supabase_folder }}/{{ $json.source }}_{{ $json.emotion_tag }}_{{ $json.source_id }}.jpg',\n  '{{ $json.public_url }}', '{{ $json.url_thumb }}',\n  '{{ $json.photographer }}', '{{ $json.photographer_url }}',\n  '{{ $json.alt_description }}', '{{ $json.keyword_used }}',\n  {{ $json.width }}, {{ $json.height }}, '{{ $json.color }}', {{ $json.likes }},\n  {{ $json.visual_score }}, '{{ $json.visual_mood }}', '{{ $json.color_palette }}',\n  '{{ $json.query_type }}', {{ $json.query_priority }},\n  NOW()\n)\nON CONFLICT (source, source_id) DO NOTHING;"
      },
      "id": "db-insert-cinematic",
      "name": "Enregistrer BDD",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2650, 400],
      "credentials": {"supabaseApi": {"id": "supabase-flooow"}},
      "notes": "Enregistrement avec métadonnées visuelles enrichies"
    },
    {
      "parameters": {
        "jsCode": "// Statistiques enrichies\nconst allItems = $input.all();\nconst stats = {\n  timestamp: new Date().toISOString(),\n  total_imported: allItems.length,\n  by_carousel: {},\n  by_emotion: {},\n  by_source: { unsplash: 0, pexels: 0 },\n  by_query_type: { primary: 0, secondary: 0 },\n  avg_visual_score: 0,\n  by_visual_mood: {},\n  top_photographers: {}\n};\n\nlet totalScore = 0;\n\nfor (const item of allItems) {\n  const d = item.json;\n  \n  stats.by_carousel[d.carousel_group] = (stats.by_carousel[d.carousel_group] || 0) + 1;\n  stats.by_emotion[d.emotion_tag] = (stats.by_emotion[d.emotion_tag] || 0) + 1;\n  stats.by_source[d.source]++;\n  stats.by_query_type[d.query_type]++;\n  stats.by_visual_mood[d.visual_mood] = (stats.by_visual_mood[d.visual_mood] || 0) + 1;\n  stats.top_photographers[d.photographer] = (stats.top_photographers[d.photographer] || 0) + 1;\n  \n  totalScore += d.visual_score;\n}\n\nstats.avg_visual_score = (totalScore / allItems.length).toFixed(2);\n\nstats.top_photographers = Object.entries(stats.top_photographers)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5)\n  .reduce((acc, [k, v]) => ({ ...acc, [k]: v }), {});\n\nreturn [{ json: stats }];"
      },
      "id": "aggregate-cinematic-stats",
      "name": "Statistiques Cinématiques",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2850, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO import_logs (type, total_items, details, created_at)\nVALUES (\n  'images_sejours_v3_cinematic',\n  {{ $json.total_imported }},\n  '{{ JSON.stringify($json) }}',\n  NOW()\n);"
      },
      "id": "log-import-cinematic",
      "name": "Logger Import Cinématique",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3050, 400],
      "credentials": {"supabaseApi": {"id": "supabase-flooow"}}
    }
  ],
  "connections": {
    "Déclencheur Hebdomadaire": {"main": [[{"node": "Charger Mapping v2"}]]},
    "Charger Mapping v2": {"main": [[{"node": "Parser Mapping v2"}]]},
    "Parser Mapping v2": {"main": [[{"node": "Préparer Recherches Cinématiques"}]]},
    "Préparer Recherches Cinématiques": {"main": [[{"node": "Unsplash Cinematic Search"}, {"node": "Pexels Cinematic Search"}]]},
    "Unsplash Cinematic Search": {"main": [[{"node": "Normaliser Unsplash Cinématique"}]]},
    "Pexels Cinematic Search": {"main": [[{"node": "Normaliser Pexels Cinématique"}]]},
    "Normaliser Unsplash Cinématique": {"main": [[{"node": "Fusionner Sources"}]]},
    "Normaliser Pexels Cinématique": {"main": [[{"node": "Fusionner Sources"}]]},
    "Fusionner Sources": {"main": [[{"node": "Filtre Qualité Cinématique"}]]},
    "Filtre Qualité Cinématique": {"main": [[{"node": "Vérifier Existant"}]]},
    "Vérifier Existant": {"main": [[{"node": "Filtrer Nouveaux"}]]},
    "Filtrer Nouveaux": {"main": [[{"node": "Télécharger Image"}]]},
    "Télécharger Image": {"main": [[{"node": "Upload Supabase"}]]},
    "Upload Supabase": {"main": [[{"node": "Enregistrer BDD"}]]},
    "Enregistrer BDD": {"main": [[{"node": "Statistiques Cinématiques"}]]},
    "Statistiques Cinématiques": {"main": [[{"node": "Logger Import Cinématique"}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true
  },
  "tags": ["flooow", "images", "cinematic", "v3"],
  "triggerCount": 1,
  "updatedAt": "2026-02-07T20:00:00.000Z",
  "versionId": "flooow-v3-cinematic"
}
