n8n-flooow-simple-v4.json
{
  "name": "Flooow Images - Simplifié v4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 3 * * 0"}]
        }
      },
      "id": "trigger",
      "name": "Schedule Hebdo",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT slug, marketing_title, emotion_tag, carousel_group, age_min, age_max FROM gd_stays WHERE published = true LIMIT 5"
      },
      "id": "get-sejours",
      "name": "Get Séjours depuis DB",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 400],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-ged",
          "name": "Supabase GED"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Mots-clés par émotion\nconst keywordMap = {\n  'MÉCANIQUE': ['motocross mud action', 'motorcycle helmet detail', 'dirt bike'],\n  'AÉRIEN': ['paragliding silhouette', 'mountain aerial view', 'sky adventure'],\n  'SURVIE': ['camping bonfire night', 'bushcraft forest', 'survival gear'],\n  'SPORT': ['mountain biking action', 'downhill bike', 'sports dynamic'],\n  'GLISSE': ['surfer silhouette sunset', 'surfing waves', 'ocean sports'],\n  'PASSION': ['horse riding beach', 'equestrian', 'riding sunset'],\n  'NATURE': ['nature discovery', 'forest exploration', 'wildlife'],\n  'DOUCEUR': ['gentle forest', 'soft nature', 'peaceful meadow']\n};\n\nconst results = [];\n\nfor (const sejour of $input.all()) {\n  const emotion = sejour.json.emotion_tag;\n  const keywords = keywordMap[emotion] || ['nature kids activity'];\n  \n  // Prendre 2 mots-clés par séjour\n  for (const keyword of keywords.slice(0, 2)) {\n    results.push({\n      ...sejour.json,\n      search_query: keyword,\n      images_per_query: 2\n    });\n  }\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "prepare-keywords",
      "name": "Préparer Mots-clés",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "method": "GET",
        "url": "https://api.unsplash.com/search/photos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "query", "value": "={{ $json.search_query }}"},
            {"name": "per_page", "value": "2"},
            {"name": "orientation", "value": "landscape"},
            {"name": "content_filter", "value": "high"}
          ]
        }
      },
      "id": "unsplash",
      "name": "Unsplash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 400],
      "credentials": {
        "httpQueryAuth": {
          "id": "unsplash",
          "name": "Unsplash"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const sejour = item.json;\n  const photos = item.json.results || [];\n  \n  for (const photo of photos) {\n    if (photo.width < 1200 || photo.height < 800) continue;\n    \n    results.push({\n      slug: sejour.slug,\n      marketing_title: sejour.marketing_title,\n      emotion_tag: sejour.emotion_tag,\n      carousel_group: sejour.carousel_group,\n      source: 'unsplash',\n      source_id: photo.id,\n      url: photo.urls.regular,\n      thumb: photo.urls.thumb,\n      download_url: photo.links.download_location,\n      photographer: photo.user.name,\n      photographer_url: photo.user.links.html,\n      width: photo.width,\n      height: photo.height,\n      alt: photo.alt_description || sejour.marketing_title\n    });\n  }\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "normalize",
      "name": "Normaliser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1 FROM sejours_images WHERE source='unsplash' AND source_id='{{ $json.source_id }}' LIMIT 1"
      },
      "id": "check-exists",
      "name": "Vérifier Existant",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 400],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-ged",
          "name": "Supabase GED"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [{"value1": "={{ $json.data }}", "operation": "isEmpty"}]
        }
      },
      "id": "filter-new",
      "name": "Filtre Nouveaux",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.download_url }}",
        "options": {
          "response": {"response": {"responseFormat": "file"}}
        }
      },
      "id": "download",
      "name": "Download",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "flooow-sejours-images",
        "fileName": "={{ $json.carousel_group }}/{{ $json.slug }}/{{ $json.source }}_{{ $json.source_id }}.jpg",
        "binaryData": true
      },
      "id": "upload",
      "name": "Upload Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1850, 400],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-ged",
          "name": "Supabase GED"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sejours_images (slug, marketing_title, emotion_tag, carousel_group, age_range, source, source_id, storage_path, public_url, thumbnail_url, photographer_name, photographer_url, alt_description, width, height, imported_at) VALUES ('{{ $json.slug }}', '{{ $json.marketing_title }}', '{{ $json.emotion_tag }}', '{{ $json.carousel_group }}', '{{ $json.age_range }}', '{{ $json.source }}', '{{ $json.source_id }}', '{{ $json.storage_path }}', '{{ $json.public_url }}', '{{ $json.thumb }}', '{{ $json.photographer }}', '{{ $json.photographer_url }}', '{{ $json.alt }}', {{ $json.width }}, {{ $json.height }}, NOW()) ON CONFLICT (source, source_id) DO NOTHING"
      },
      "id": "insert-db",
      "name": "Insert DB",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2050, 400],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-ged",
          "name": "Supabase GED"
        }
      }
    }
  ],
  "connections": {
    "Schedule Hebdo": {"main": [[{"node": "Get Séjours depuis DB"}]]},
    "Get Séjours depuis DB": {"main": [[{"node": "Préparer Mots-clés"}]]},
    "Préparer Mots-clés": {"main": [[{"node": "Unsplash"}]]},
    "Unsplash": {"main": [[{"node": "Normaliser"}]]},
    "Normaliser": {"main": [[{"node": "Vérifier Existant"}]]},
    "Vérifier Existant": {"main": [[{"node": "Filtre Nouveaux"}]]},
    "Filtre Nouveaux": {"main": [[{"node": "Download"}]]},
    "Download": {"main": [[{"node": "Upload Supabase"}]]},
    "Upload Supabase": {"main": [[{"node": "Insert DB"}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": ["flooow", "ged", "images"],
  "versionId": "v4-simple"
}
