n8n-flooow-image-v5-fiable.json
{
  "name": "Flooow Images v5 - Fiable & Durci",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 3 * * 0"}]
        }
      },
      "id": "trigger",
      "name": "Schedule Hebdo",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 400],
      "notes": "Chaque dimanche à 3h du matin"
    },

    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "GET",
        "url": "https://iirfvndgzutbxwfdwawu.supabase.co/rest/v1/gd_stays",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "select", "value": "slug,marketing_title,emotion_tag,carousel_group,age_min,age_max,location_region,location_city"},
            {"name": "published", "value": "eq.true"},
            {"name": "limit", "value": "30"}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $credentials.httpHeaderAuth.value }}"},
            {"name": "Prefer", "value": "return=representation"}
          ]
        },
        "options": {"timeout": 15000}
      },
      "id": "get-sejours",
      "name": "GET Séjours (HTTP REST)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DMAMpZycj9mgH5fu",
          "name": "Compte d'authentification d'en-tête"
        }
      },
      "notes": "HTTP Request direct vers API REST Supabase — pas de node Supabase buggé. Credential = Header Auth avec Authorization: Bearer <service_role_key>"
    },

    {
      "parameters": {
        "jsCode": "// ========================================\n// MAPPING MOTS-CLÉS DURCIS — FRANCE ONLY\n// ========================================\n// Règles :\n// 1. Tous les mots-clés incluent un ancrage géographique FRANCE\n// 2. Anti-catalogue : favoriser \"candid\", \"authentic\", \"real\"\n// 3. Chaque séjour = max 3 recherches ciblées\n// 4. Construction age_range depuis age_min/age_max\n\nconst keywordMap = {\n  'MÉCANIQUE': [\n    'motocross mud france enduro',\n    'dirt bike helmet visor close up',\n    'motorcycle mechanic hands tools garage'\n  ],\n  'AÉRIEN': [\n    'paragliding french alps lake annecy',\n    'canyoning waterfall rocks france',\n    'via ferrata cliff hands rope detail'\n  ],\n  'SURVIE': [\n    'camping bonfire forest france night',\n    'bushcraft knife wood carving hands',\n    'bivouac mountain tent sunrise alps'\n  ],\n  'SPORT': [\n    'mountain biking trail forest france',\n    'downhill mtb mud splash action',\n    'bike helmet gear close up detail'\n  ],\n  'GLISSE': [\n    'surfer silhouette sunset atlantic france',\n    'surfboard wax hands beach hossegor',\n    'ocean waves texture atlantic coast'\n  ],\n  'PASSION': [\n    'horse riding beach sunset brittany france',\n    'horse mane close up golden hour',\n    'equestrian boots stirrup detail sand'\n  ],\n  'NATURE': [\n    'dune pilat arcachon basin france',\n    'atlantic coast oyster farm nature',\n    'coastal nature exploration france'\n  ],\n  'DOUCEUR': [\n    'child back view forest sunlight gentle',\n    'pony meadow peaceful soft light france',\n    'ladybug leaf macro nature gentle'\n  ],\n  'VITESSE': [\n    'kitesurf action mediterranean france',\n    'wakeboard water splash speed',\n    'water sports dynamic south france'\n  ],\n  'AVENTURE': [\n    'corsica turquoise coast aerial drone',\n    'scuba diving mediterranean bubbles',\n    'catamaran sail blue corsica france'\n  ],\n  'NAUTIQUE': [\n    'scuba diving underwater turquoise mediterranean',\n    'diving mask bubbles coral france',\n    'jet ski action sea spray'\n  ],\n  'URBAIN': [\n    'parkour jump urban rooftop silhouette',\n    'freerunning wall concrete city france',\n    'urban architecture perspective lines'\n  ],\n  'GAMING': [\n    'esports arena neon dark atmosphere',\n    'gaming headset rgb close up detail',\n    'keyboard mechanical neon glow dark'\n  ],\n  'EXPLORATION': [\n    'mountain hiking trail french alps panoramic',\n    'alpine lake reflection morning mist france',\n    'wildflowers alpine meadow mountain vista'\n  ],\n  'MIXTE': [\n    'mountain summer activities relaxed france',\n    'alpine meadow peaceful summer kids',\n    'outdoor games mountain gentle france'\n  ],\n  'DYNAMIQUE': [\n    'climbing wall outdoor mountain france',\n    'mountain bike trail alpine dynamic',\n    'adventure park trees ropes france'\n  ],\n  'ART & NATURE': [\n    'nature photography macro detail forest',\n    'wildlife close up france artistic',\n    'creative nature composition artistic light'\n  ],\n  'COCOONING': [\n    'marmot alpine wildlife france cute',\n    'child hiking boots nature gentle mountain',\n    'alpine flowers meadow peaceful soft'\n  ],\n  'EAU CALME': [\n    'gentle waves beach safe calm france',\n    'peaceful ocean shore kids safe atlantic',\n    'beach sand toys gentle water france'\n  ],\n  'DÉCOUVERTE': [\n    'beach activities ocean discovery france atlantic',\n    'coastal nature discovery kids safe',\n    'sea activities varied beach france'\n  ],\n  'ACTION': [\n    'rock climbing coastal cliff france',\n    'tree climbing adventure rope park',\n    'vertical challenge climbing hands rope'\n  ]\n};\n\n// ========================================\n// ANTI-STOCK BLACKLIST\n// ========================================\nconst BLACKLIST_TERMS = [\n  'group posing', 'team building', 'corporate',\n  'stock photo', 'staged', 'classroom', 'cafeteria',\n  'indoor office', 'smiling camera', 'thumbs up',\n  'business meeting', 'presentation slide',\n  'woman laptop', 'man suit', 'handshake'\n];\n\nconst results = [];\n\nfor (const sejour of $input.all()) {\n  const s = sejour.json;\n  const emotion = s.emotion_tag || 'NATURE';\n  const keywords = keywordMap[emotion] || keywordMap['NATURE'];\n  const ageRange = `${s.age_min || '?'}-${s.age_max || '?'}`;\n\n  for (const keyword of keywords) {\n    results.push({\n      json: {\n        slug: s.slug,\n        marketing_title: s.marketing_title || s.title || s.slug,\n        emotion_tag: emotion,\n        carousel_group: s.carousel_group || 'AUTRES',\n        age_range: ageRange,\n        geography: [s.location_region, s.location_city].filter(Boolean).join(', ') || '',\n        search_query: keyword,\n        blacklist_terms: BLACKLIST_TERMS\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "prepare-keywords",
      "name": "Mots-clés France Durcis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400],
      "notes": "Mapping par emotion_tag avec ancrage géographique France. Anti-stock blacklist intégrée."
    },

    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "method": "GET",
        "url": "https://api.unsplash.com/search/photos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "query", "value": "={{ $json.search_query }}"},
            {"name": "per_page", "value": "5"},
            {"name": "orientation", "value": "landscape"},
            {"name": "content_filter", "value": "high"},
            {"name": "order_by", "value": "relevant"}
          ]
        },
        "options": {"timeout": 15000}
      },
      "id": "unsplash",
      "name": "Unsplash Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 400],
      "credentials": {
        "httpQueryAuth": {
          "id": "unsplash-client-id",
          "name": "Unsplash client_id"
        }
      },
      "notes": "Credential HTTP Query Auth : Name=client_id, Value=<votre Access Key Unsplash>"
    },

    {
      "parameters": {
        "jsCode": "// ========================================\n// NORMALISATION + FILTRES DURCIS\n// ========================================\nconst results = [];\n\nfor (const item of $input.all()) {\n  const sejour = item.json;\n  const photos = sejour.results || [];\n  const blacklist = sejour.blacklist_terms || [];\n\n  for (const photo of photos) {\n    // === FILTRE 1 : Dimensions minimales ===\n    if (photo.width < 1200 || photo.height < 800) continue;\n\n    // === FILTRE 2 : Ratio paysage (1.3 à 2.0) ===\n    const ratio = photo.width / photo.height;\n    if (ratio < 1.3 || ratio > 2.1) continue;\n\n    // === FILTRE 3 : Anti-stock / Anti-catalogue ===\n    const desc = (\n      (photo.description || '') + ' ' +\n      (photo.alt_description || '') + ' ' +\n      (photo.tags_preview || []).map(t => t.title || '').join(' ')\n    ).toLowerCase();\n\n    let isBlacklisted = false;\n    for (const term of blacklist) {\n      if (desc.includes(term.toLowerCase())) {\n        isBlacklisted = true;\n        break;\n      }\n    }\n    if (isBlacklisted) continue;\n\n    // === FILTRE 4 : Anti-superficiel (trop générique) ===\n    const genericPatterns = [\n      'beautiful woman', 'handsome man', 'happy people',\n      'business', 'office', 'laptop', 'desk',\n      'abstract', 'background texture plain'\n    ];\n    let isGeneric = false;\n    for (const pattern of genericPatterns) {\n      if (desc.includes(pattern)) {\n        isGeneric = true;\n        break;\n      }\n    }\n    if (isGeneric) continue;\n\n    // === FILTRE 5 : Score qualité ===\n    let qualityScore = 5; // Base\n    if (photo.likes > 50) qualityScore += 1;\n    if (photo.likes > 200) qualityScore += 1;\n    if (photo.likes > 500) qualityScore += 1;\n    if (ratio >= 1.5 && ratio <= 1.85) qualityScore += 1; // Proche 16:9 cinéma\n    if (desc.includes('france') || desc.includes('alps') || desc.includes('french') ||\n        desc.includes('bretagne') || desc.includes('corsica') || desc.includes('provence') ||\n        desc.includes('atlantic') || desc.includes('mediterranean')) {\n      qualityScore += 2; // Bonus géolocalisation France\n    }\n    // Pénalité stock\n    if (desc.includes('group of people')) qualityScore -= 2;\n    if (desc.includes('smiling')) qualityScore -= 1;\n    qualityScore = Math.max(1, Math.min(10, qualityScore));\n\n    // === FILTRE 6 : Score minimum 4/10 ===\n    if (qualityScore < 4) continue;\n\n    // === Construction URL publique Supabase Storage ===\n    const storagePath = `${sejour.carousel_group}/${sejour.slug}/${sejour.emotion_tag}_unsplash_${photo.id}.jpg`;\n    const publicUrl = `https://iirfvndgzutbxwfdwawu.supabase.co/storage/v1/object/public/ged-sejours-images/${storagePath}`;\n\n    results.push({\n      json: {\n        // Métadonnées séjour\n        slug: sejour.slug,\n        marketing_title: sejour.marketing_title,\n        emotion_tag: sejour.emotion_tag,\n        carousel_group: sejour.carousel_group,\n        age_range: sejour.age_range,\n        // Image Unsplash\n        source: 'unsplash',\n        source_id: photo.id,\n        url_regular: photo.urls.regular,\n        url_thumb: photo.urls.thumb,\n        download_url: photo.links.download_location,\n        // Attribution\n        photographer: (photo.user.name || '').replace(/'/g, \"''\"),\n        photographer_url: (photo.user.links.html || '').replace(/'/g, \"''\"),\n        // Métadonnées image\n        alt_description: (photo.alt_description || sejour.marketing_title).replace(/'/g, \"''\"),\n        keyword_used: (sejour.search_query || '').replace(/'/g, \"''\"),\n        width: photo.width,\n        height: photo.height,\n        color: photo.color || '#000000',\n        likes: photo.likes || 0,\n        quality_score: qualityScore,\n        // Stockage\n        storage_path: storagePath,\n        public_url: publicUrl,\n        thumbnail_url: photo.urls.thumb\n      }\n    });\n  }\n}\n\n// Trier par quality_score décroissant\nresults.sort((a, b) => b.json.quality_score - a.json.quality_score);\n\nreturn results;"
      },
      "id": "normalize-filter",
      "name": "Normaliser + Filtres Durcis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400],
      "notes": "6 filtres : dimensions, ratio, anti-stock, anti-superficiel, score qualité, score minimum. Échappement SQL intégré."
    },

    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "GET",
        "url": "https://iirfvndgzutbxwfdwawu.supabase.co/rest/v1/sejours_images",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "source", "value": "eq.{{ $json.source }}"},
            {"name": "source_id", "value": "eq.{{ $json.source_id }}"},
            {"name": "select", "value": "source_id"},
            {"name": "limit", "value": "1"}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $credentials.httpHeaderAuth.value }}"}
          ]
        },
        "options": {"timeout": 10000}
      },
      "id": "check-exists",
      "name": "Vérifier Doublon (REST)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DMAMpZycj9mgH5fu",
          "name": "Compte d'authentification d'en-tête"
        }
      },
      "notes": "Vérifie via REST API si l'image existe déjà dans sejours_images. Pas de SQL brut."
    },

    {
      "parameters": {
        "conditions": {
          "options": {"combineOperation": "all"},
          "conditions": [
            {
              "leftValue": "={{ JSON.stringify($json) }}",
              "rightValue": "[]",
              "operation": "equal"
            }
          ]
        }
      },
      "id": "filter-new",
      "name": "Garder Nouveaux",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 400],
      "notes": "Si la réponse REST est un tableau vide [], l'image est nouvelle"
    },

    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "method": "GET",
        "url": "={{ $json.download_url }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "client_id", "value": "={{ $credentials.httpQueryAuth.value }}"}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image_data"
            }
          },
          "timeout": 30000
        }
      },
      "id": "download",
      "name": "Télécharger Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 400],
      "credentials": {
        "httpQueryAuth": {
          "id": "unsplash-client-id",
          "name": "Unsplash client_id"
        }
      },
      "notes": "Download Unsplash avec client_id obligatoire. Binary output = image_data."
    },

    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "url": "=https://iirfvndgzutbxwfdwawu.supabase.co/storage/v1/object/ged-sejours-images/{{ $json.storage_path }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $credentials.httpHeaderAuth.value }}"},
            {"name": "Authorization", "value": "Bearer {{ $credentials.httpHeaderAuth.value }}"},
            {"name": "Content-Type", "value": "image/jpeg"},
            {"name": "Cache-Control", "value": "public, max-age=31536000, immutable"},
            {"name": "x-upsert", "value": "false"}
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "image_data",
        "options": {"timeout": 30000}
      },
      "id": "upload-storage",
      "name": "Upload Storage (REST)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1850, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DMAMpZycj9mgH5fu",
          "name": "Compte d'authentification d'en-tête"
        }
      },
      "notes": "Upload direct via REST API Storage Supabase. Bucket = ged-sejours-images (le vrai bucket créé)."
    },

    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "url": "https://iirfvndgzutbxwfdwawu.supabase.co/rest/v1/sejours_images",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $credentials.httpHeaderAuth.value }}"},
            {"name": "Authorization", "value": "Bearer {{ $credentials.httpHeaderAuth.value }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Prefer", "value": "resolution=ignore-duplicates,return=minimal"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"slug\": \"{{ $json.slug }}\",\n  \"marketing_title\": \"{{ $json.marketing_title }}\",\n  \"emotion_tag\": \"{{ $json.emotion_tag }}\",\n  \"carousel_group\": \"{{ $json.carousel_group }}\",\n  \"age_range\": \"{{ $json.age_range }}\",\n  \"source\": \"{{ $json.source }}\",\n  \"source_id\": \"{{ $json.source_id }}\",\n  \"storage_path\": \"{{ $json.storage_path }}\",\n  \"public_url\": \"{{ $json.public_url }}\",\n  \"thumbnail_url\": \"{{ $json.thumbnail_url }}\",\n  \"photographer_name\": \"{{ $json.photographer }}\",\n  \"photographer_url\": \"{{ $json.photographer_url }}\",\n  \"alt_description\": \"{{ $json.alt_description }}\",\n  \"keyword_used\": \"{{ $json.keyword_used }}\",\n  \"width\": {{ $json.width }},\n  \"height\": {{ $json.height }},\n  \"color\": \"{{ $json.color }}\",\n  \"likes\": {{ $json.likes }},\n  \"quality_score\": {{ $json.quality_score }},\n  \"status\": \"active\"\n}",
        "options": {"timeout": 10000}
      },
      "id": "insert-metadata",
      "name": "INSERT Métadonnées (REST)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2050, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DMAMpZycj9mgH5fu",
          "name": "Compte d'authentification d'en-tête"
        }
      },
      "notes": "INSERT via REST API POST avec Prefer: resolution=ignore-duplicates. Pas de SQL brut = pas d'injection SQL. Colonnes alignées avec le schéma 006."
    },

    {
      "parameters": {
        "jsCode": "// ========================================\n// SYNC : sejours_images → gd_stays.images\n// ========================================\n// Le front lit gd_stays.images (JSON array).\n// On construit la mise à jour pour chaque séjour.\n\nconst allItems = $input.all();\nconst sejourMap = {};\n\nfor (const item of allItems) {\n  const d = item.json;\n  if (!d.slug) continue;\n  if (!sejourMap[d.slug]) {\n    sejourMap[d.slug] = [];\n  }\n  sejourMap[d.slug].push({\n    public_url: d.public_url,\n    quality_score: d.quality_score || 5\n  });\n}\n\n// Pour chaque séjour, garder les 6 meilleures images triées par qualité\nconst results = [];\nfor (const [slug, images] of Object.entries(sejourMap)) {\n  const sorted = images\n    .sort((a, b) => b.quality_score - a.quality_score)\n    .slice(0, 6);\n  \n  results.push({\n    json: {\n      slug: slug,\n      images_array: sorted.map(img => img.public_url)\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "prepare-sync",
      "name": "Préparer Sync gd_stays",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 400],
      "notes": "Regroupe les images par séjour, garde les 6 meilleures par quality_score. Construit le tableau JSON pour gd_stays.images."
    },

    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PATCH",
        "url": "=https://iirfvndgzutbxwfdwawu.supabase.co/rest/v1/gd_stays?slug=eq.{{ $json.slug }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $credentials.httpHeaderAuth.value }}"},
            {"name": "Authorization", "value": "Bearer {{ $credentials.httpHeaderAuth.value }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Prefer", "value": "return=minimal"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"images\": {{ JSON.stringify($json.images_array) }} }",
        "options": {"timeout": 10000}
      },
      "id": "sync-gd-stays",
      "name": "SYNC → gd_stays.images",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2450, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DMAMpZycj9mgH5fu",
          "name": "Compte d'authentification d'en-tête"
        }
      },
      "notes": "PATCH gd_stays.images = tableau JSON des URLs publiques. Le front affiche immédiatement les nouvelles images."
    },

    {
      "parameters": {
        "jsCode": "// ========================================\n// STATISTIQUES D'IMPORT\n// ========================================\nconst allItems = $input.all();\nconst stats = {\n  timestamp: new Date().toISOString(),\n  total_sejours_updated: allItems.length,\n  total_images: 0,\n  by_sejour: {}\n};\n\nfor (const item of allItems) {\n  const d = item.json;\n  const count = (d.images_array || []).length;\n  stats.total_images += count;\n  stats.by_sejour[d.slug] = count;\n}\n\nreturn [{ json: stats }];"
      },
      "id": "stats",
      "name": "Statistiques",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2650, 400]
    },

    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "url": "https://iirfvndgzutbxwfdwawu.supabase.co/rest/v1/import_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $credentials.httpHeaderAuth.value }}"},
            {"name": "Authorization", "value": "Bearer {{ $credentials.httpHeaderAuth.value }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Prefer", "value": "return=minimal"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"images_sejours_v5\",\n  \"total_items\": {{ $json.total_images }},\n  \"details\": {{ JSON.stringify($json) }}\n}",
        "options": {"timeout": 10000}
      },
      "id": "log-import",
      "name": "Logger Import",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2850, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DMAMpZycj9mgH5fu",
          "name": "Compte d'authentification d'en-tête"
        }
      }
    }
  ],
  "connections": {
    "Schedule Hebdo": {"main": [[{"node": "GET Séjours (HTTP REST)", "type": "main", "index": 0}]]},
    "GET Séjours (HTTP REST)": {"main": [[{"node": "Mots-clés France Durcis", "type": "main", "index": 0}]]},
    "Mots-clés France Durcis": {"main": [[{"node": "Unsplash Search", "type": "main", "index": 0}]]},
    "Unsplash Search": {"main": [[{"node": "Normaliser + Filtres Durcis", "type": "main", "index": 0}]]},
    "Normaliser + Filtres Durcis": {"main": [[{"node": "Vérifier Doublon (REST)", "type": "main", "index": 0}]]},
    "Vérifier Doublon (REST)": {"main": [[{"node": "Garder Nouveaux", "type": "main", "index": 0}]]},
    "Garder Nouveaux": {"main": [[{"node": "Télécharger Image", "type": "main", "index": 0}], []]},
    "Télécharger Image": {"main": [[{"node": "Upload Storage (REST)", "type": "main", "index": 0}]]},
    "Upload Storage (REST)": {"main": [[{"node": "INSERT Métadonnées (REST)", "type": "main", "index": 0}]]},
    "INSERT Métadonnées (REST)": {"main": [[{"node": "Préparer Sync gd_stays", "type": "main", "index": 0}]]},
    "Préparer Sync gd_stays": {"main": [[{"node": "SYNC → gd_stays.images", "type": "main", "index": 0}]]},
    "SYNC → gd_stays.images": {"main": [[{"node": "Statistiques", "type": "main", "index": 0}]]},
    "Statistiques": {"main": [[{"node": "Logger Import", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "errorWorkflow": "",
    "timezone": "Europe/Paris"
  },
  "tags": ["flooow", "ged", "images", "v5", "france", "durci"],
  "triggerCount": 1,
  "versionId": "v5-fiable-durci"
}
