n8n-flooow-image-collector-v2.json
{
  "name": "Flooow - Collecteur Images Séjours v2 (Mapping Précis)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * 0"
            }
          ]
        }
      },
      "id": "schedule-weekly",
      "name": "Déclencheur Hebdomadaire",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 400],
      "notes": "Exécution tous les dimanches à 3h du matin"
    },
    {
      "parameters": {
        "operation": "read",
        "filePath": "/path/to/flooow-sejours-images-mapping.json"
      },
      "id": "load-mapping",
      "name": "Charger Mapping Séjours",
      "type": "n8n-nodes-base.readFile",
      "typeVersion": 1,
      "position": [450, 400],
      "notes": "Charge la configuration complète depuis le fichier JSON"
    },
    {
      "parameters": {
        "jsCode": "// Parser le JSON et extraire les séjours\nconst mapping = JSON.parse($input.first().json.data);\nconst sejours = mapping.sejours;\n\n// Retourner chaque séjour comme élément séparé\nreturn sejours.map(sejour => ({\n  json: {\n    ...sejour,\n    image_requirements: mapping.image_requirements,\n    supabase_config: mapping.supabase_config\n  }\n}));"
      },
      "id": "parse-mapping",
      "name": "Parser Configuration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "jsCode": "// Déterminer le nombre d'images à chercher par séjour\nconst item = $input.first().json;\n\n// Stratégie : 2-3 images par mot-clé, max 12 images par séjour\nconst keywordsToUse = item.keywords_en.slice(0, 4); // 4 premiers mots-clés\n\nreturn keywordsToUse.map(keyword => ({\n  json: {\n    ...item,\n    current_keyword: keyword,\n    images_per_keyword: 3\n  }\n}));"
      },
      "id": "prepare-searches",
      "name": "Préparer Recherches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "method": "GET",
        "url": "https://api.unsplash.com/search/photos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.current_keyword }}"
            },
            {
              "name": "per_page",
              "value": "={{ $json.images_per_keyword }}"
            },
            {
              "name": "orientation",
              "value": "landscape"
            },
            {
              "name": "content_filter",
              "value": "high"
            },
            {
              "name": "order_by",
              "value": "relevant"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "unsplash-search",
      "name": "Recherche Unsplash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300],
      "credentials": {
        "httpQueryAuth": {
          "id": "unsplash-api-key",
          "name": "Unsplash API Key"
        }
      },
      "notes": "Clé API Unsplash requise dans les credentials"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "GET",
        "url": "https://api.pexels.com/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.current_keyword }}"
            },
            {
              "name": "per_page",
              "value": "={{ $json.images_per_keyword }}"
            },
            {
              "name": "orientation",
              "value": "landscape"
            },
            {
              "name": "size",
              "value": "large"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "pexels-search",
      "name": "Recherche Pexels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pexels-api-key",
          "name": "Pexels API Key"
        }
      },
      "notes": "Header: Authorization: YOUR_PEXELS_API_KEY"
    },
    {
      "parameters": {
        "jsCode": "// Normaliser Unsplash + filtrer qualité\nconst results = [];\n\nfor (const item of $input.all()) {\n  const sejour = item.json;\n  const apiResults = item.json.results || [];\n  \n  for (const photo of apiResults) {\n    // Filtres qualité\n    if (photo.width < 1200 || photo.height < 800) continue;\n    \n    results.push({\n      source: 'unsplash',\n      source_id: photo.id,\n      url_regular: photo.urls.regular,\n      url_raw: photo.urls.raw,\n      url_thumb: photo.urls.thumb,\n      download_url: photo.links.download_location,\n      photographer: photo.user.name,\n      photographer_url: photo.user.links.html,\n      photographer_portfolio: photo.user.portfolio_url || '',\n      width: photo.width,\n      height: photo.height,\n      alt_description: photo.alt_description || sejour.marketing_title,\n      color: photo.color,\n      likes: photo.likes,\n      // Métadonnées séjour\n      slug: sejour.slug,\n      marketing_title: sejour.marketing_title,\n      emotion_tag: sejour.emotion_tag,\n      carousel_group: sejour.carousel_group,\n      age_range: sejour.age_range,\n      keyword_used: sejour.current_keyword,\n      supabase_folder: `${sejour.carousel_group}/${sejour.slug}`\n    });\n  }\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "normalize-unsplash",
      "name": "Normaliser Unsplash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Normaliser Pexels + filtrer qualité\nconst results = [];\n\nfor (const item of $input.all()) {\n  const sejour = item.json;\n  const apiResults = item.json.photos || [];\n  \n  for (const photo of apiResults) {\n    // Filtres qualité\n    if (photo.width < 1200 || photo.height < 800) continue;\n    \n    results.push({\n      source: 'pexels',\n      source_id: String(photo.id),\n      url_regular: photo.src.large,\n      url_raw: photo.src.original,\n      url_thumb: photo.src.medium,\n      download_url: photo.src.original,\n      photographer: photo.photographer,\n      photographer_url: photo.photographer_url,\n      photographer_portfolio: photo.photographer_url,\n      width: photo.width,\n      height: photo.height,\n      alt_description: photo.alt || sejour.marketing_title,\n      color: photo.avg_color || '#000000',\n      likes: 0,\n      // Métadonnées séjour\n      slug: sejour.slug,\n      marketing_title: sejour.marketing_title,\n      emotion_tag: sejour.emotion_tag,\n      carousel_group: sejour.carousel_group,\n      age_range: sejour.age_range,\n      keyword_used: sejour.current_keyword,\n      supabase_folder: `${sejour.carousel_group}/${sejour.slug}`\n    });\n  }\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "normalize-pexels",
      "name": "Normaliser Pexels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "merge-sources",
      "name": "Fusionner Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "combineOperation": "all"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.width }}",
              "rightValue": "1200",
              "operation": "largerEqual"
            },
            {
              "leftValue": "={{ $json.height }}",
              "rightValue": "800",
              "operation": "largerEqual"
            }
          ]
        }
      },
      "id": "filter-quality",
      "name": "Filtre Qualité",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 400],
      "notes": "Vérifie dimensions minimales"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT source_id FROM sejours_images WHERE source = '{{ $json.source }}' AND source_id = '{{ $json.source_id }}' LIMIT 1;"
      },
      "id": "check-existing",
      "name": "Vérifier Existant",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1850, 400],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-flooow",
          "name": "Supabase Flooow"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "filter-new-only",
      "name": "Filtrer Nouveaux",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2050, 400],
      "notes": "Ne traite que les images non déjà importées"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.download_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image_binary"
            }
          },
          "timeout": 30000
        }
      },
      "id": "download-image",
      "name": "Télécharger Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2250, 400]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "flooow-sejours-images",
        "fileName": "={{ $json.supabase_folder }}/{{ $json.source }}_{{ $json.emotion_tag }}_{{ $json.source_id }}.jpg",
        "binaryPropertyName": "image_binary",
        "additionalFields": {
          "contentType": "image/jpeg",
          "cacheControl": "public, max-age=31536000, immutable",
          "upsert": false
        }
      },
      "id": "supabase-upload",
      "name": "Upload Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2450, 400],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-flooow",
          "name": "Supabase Flooow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO sejours_images (\n  slug,\n  marketing_title,\n  emotion_tag,\n  carousel_group,\n  age_range,\n  source,\n  source_id,\n  storage_path,\n  public_url,\n  thumbnail_url,\n  photographer_name,\n  photographer_url,\n  photographer_portfolio,\n  alt_description,\n  keyword_used,\n  width,\n  height,\n  color,\n  likes,\n  imported_at\n) VALUES (\n  '{{ $json.slug }}',\n  '{{ $json.marketing_title }}',\n  '{{ $json.emotion_tag }}',\n  '{{ $json.carousel_group }}',\n  '{{ $json.age_range }}',\n  '{{ $json.source }}',\n  '{{ $json.source_id }}',\n  '{{ $json.supabase_folder }}/{{ $json.source }}_{{ $json.emotion_tag }}_{{ $json.source_id }}.jpg',\n  '{{ $json.public_url }}',\n  '{{ $json.url_thumb }}',\n  '{{ $json.photographer }}',\n  '{{ $json.photographer_url }}',\n  '{{ $json.photographer_portfolio }}',\n  '{{ $json.alt_description }}',\n  '{{ $json.keyword_used }}',\n  {{ $json.width }},\n  {{ $json.height }},\n  '{{ $json.color }}',\n  {{ $json.likes }},\n  NOW()\n)\nON CONFLICT (source, source_id) DO NOTHING;"
      },
      "id": "db-insert",
      "name": "Enregistrer BDD",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2650, 400],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-flooow",
          "name": "Supabase Flooow"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Agréger statistiques d'import\nconst allItems = $input.all();\nconst stats = {\n  timestamp: new Date().toISOString(),\n  total_imported: allItems.length,\n  by_carousel: {},\n  by_emotion: {},\n  by_source: { unsplash: 0, pexels: 0 },\n  by_sejour: {},\n  top_photographers: {}\n};\n\nfor (const item of allItems) {\n  const d = item.json;\n  \n  // Par carousel\n  stats.by_carousel[d.carousel_group] = (stats.by_carousel[d.carousel_group] || 0) + 1;\n  \n  // Par émotion\n  stats.by_emotion[d.emotion_tag] = (stats.by_emotion[d.emotion_tag] || 0) + 1;\n  \n  // Par source\n  stats.by_source[d.source]++;\n  \n  // Par séjour\n  const key = `${d.slug} (${d.marketing_title})`;\n  stats.by_sejour[key] = (stats.by_sejour[key] || 0) + 1;\n  \n  // Photographes\n  stats.top_photographers[d.photographer] = (stats.top_photographers[d.photographer] || 0) + 1;\n}\n\n// Top 5 photographes\nstats.top_photographers = Object.entries(stats.top_photographers)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5)\n  .reduce((acc, [k, v]) => ({ ...acc, [k]: v }), {});\n\nreturn [{ json: stats }];"
      },
      "id": "aggregate-stats",
      "name": "Statistiques Import",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2850, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO import_logs (type, total_items, details, created_at)\nVALUES (\n  'images_sejours',\n  {{ $json.total_imported }},\n  '{{ JSON.stringify($json) }}',\n  NOW()\n);"
      },
      "id": "log-import",
      "name": "Logger Import",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3050, 400],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-flooow",
          "name": "Supabase Flooow"
        }
      }
    }
  ],
  "connections": {
    "Déclencheur Hebdomadaire": {
      "main": [[{ "node": "Charger Mapping Séjours", "type": "main", "index": 0 }]]
    },
    "Charger Mapping Séjours": {
      "main": [[{ "node": "Parser Configuration", "type": "main", "index": 0 }]]
    },
    "Parser Configuration": {
      "main": [[{ "node": "Préparer Recherches", "type": "main", "index": 0 }]]
    },
    "Préparer Recherches": {
      "main": [
        [
          { "node": "Recherche Unsplash", "type": "main", "index": 0 },
          { "node": "Recherche Pexels", "type": "main", "index": 0 }
        ]
      ]
    },
    "Recherche Unsplash": {
      "main": [[{ "node": "Normaliser Unsplash", "type": "main", "index": 0 }]]
    },
    "Recherche Pexels": {
      "main": [[{ "node": "Normaliser Pexels", "type": "main", "index": 0 }]]
    },
    "Normaliser Unsplash": {
      "main": [[{ "node": "Fusionner Sources", "type": "main", "index": 0 }]]
    },
    "Normaliser Pexels": {
      "main": [[{ "node": "Fusionner Sources", "type": "main", "index": 1 }]]
    },
    "Fusionner Sources": {
      "main": [[{ "node": "Filtre Qualité", "type": "main", "index": 0 }]]
    },
    "Filtre Qualité": {
      "main": [[{ "node": "Vérifier Existant", "type": "main", "index": 0 }]]
    },
    "Vérifier Existant": {
      "main": [[{ "node": "Filtrer Nouveaux", "type": "main", "index": 0 }]]
    },
    "Filtrer Nouveaux": {
      "main": [[{ "node": "Télécharger Image", "type": "main", "index": 0 }]]
    },
    "Télécharger Image": {
      "main": [[{ "node": "Upload Supabase", "type": "main", "index": 0 }]]
    },
    "Upload Supabase": {
      "main": [[{ "node": "Enregistrer BDD", "type": "main", "index": 0 }]]
    },
    "Enregistrer BDD": {
      "main": [[{ "node": "Statistiques Import", "type": "main", "index": 0 }]]
    },
    "Statistiques Import": {
      "main": [[{ "node": "Logger Import", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": ["flooow", "images", "sejours", "automation"],
  "triggerCount": 1,
  "updatedAt": "2026-02-07T19:00:00.000Z",
  "versionId": "flooow-v2.0"
}
