n8n-patches/02_UFOVAL_IS_FULL_GLOBAL_v3_SAFE.json
{
  "name": "02 UFOVAL is_full GLOBAL v3 SAFE",
  "nodes": [
    {
      "parameters": {},
      "id": "a780ec5b-f32e-46eb-990d-440c997ce937",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://iirfvndgzutbxwfdwawu.supabase.co/rest/v1/gd_stays?select=slug,source_url&published=eq.true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlpcmZ2bmRnenV0Ynh3ZmR3YXd1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTI3MjgwOSwiZXhwIjoyMDg0ODQ4ODA5fQ.IgRALdFN5r5ssMLYvJWJhIqpUeKU7QRrFAhvFALlsxM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlpcmZ2bmRnenV0Ynh3ZmR3YXd1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTI3MjgwOSwiZXhwIjoyMDg0ODQ4ODA5fQ.IgRALdFN5r5ssMLYvJWJhIqpUeKU7QRrFAhvFALlsxM"
            }
          ]
        },
        "options": {}
      },
      "id": "b0764551-7f56-4e67-bcf5-56553e8ebe8e",
      "name": "Get 24 Séjours",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [208, 0]
    },
    {
      "parameters": {
        "url": "={{ $json.source_url }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "75afb2d2-deb3-4550-8702-a685802069ff",
      "name": "Fetch Page UFOVAL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 0],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// v3 SAFE — Extraction UNIQUEMENT de is_full (global)\n// NE TOUCHE PAS aux contenus CityCrunch (title, accroche,\n// programme, images, centre_name, location, ged_theme)\n// ============================================================\n\nconst output = [];\n\nfor (const item of $input.all()) {\n  const html = item.json.body || item.json.data || '';\n  const htmlStr = String(html);\n  \n  // Récupérer le slug depuis l'URL canonique\n  let sourceUrl = '';\n  const canonicalMatch = htmlStr.match(/rel=\"canonical\"\\s+href=\"([^\"]+)\"/i);\n  if (canonicalMatch) {\n    sourceUrl = canonicalMatch[1];\n  }\n  const slug = sourceUrl ? sourceUrl.split('/').pop().split('?')[0].replace(/[^a-z0-9-]/gi, '-').toLowerCase() : '';\n\n  const result = {\n    slug: slug\n  };\n\n  // UNIQUEMENT la logique is_full — PAS de contenu\n  const totalSessions = (htmlStr.match(/class=\"radio-container\"/gi) || []).length;\n  const fullSessions = (htmlStr.match(/availability-status-full/gi) || []).length;\n  \n  // Le séjour est \"Complet\" UNIQUEMENT si TOUTES les sessions sont pleines\n  result.is_full = (totalSessions > 0 && totalSessions === fullSessions);\n  result.full_sessions_count = fullSessions;\n  result.available_sessions = totalSessions - fullSessions;\n\n  output.push({ json: result });\n}\n\nreturn output;"
      },
      "id": "4c5f9854-f1a7-41e1-a95a-0bf261c2c2df",
      "name": "Extract is_full ONLY (SAFE)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [608, 0]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://iirfvndgzutbxwfdwawu.supabase.co/rest/v1/gd_stays?slug=eq.{{ $json.slug }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlpcmZ2bmRnenV0Ynh3ZmR3YXd1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTI3MjgwOSwiZXhwIjoyMDg0ODQ4ODA5fQ.IgRALdFN5r5ssMLYvJWJhIqpUeKU7QRrFAhvFALlsxM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlpcmZ2bmRnenV0Ynh3ZmR3YXd1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTI3MjgwOSwiZXhwIjoyMDg0ODQ4ODA5fQ.IgRALdFN5r5ssMLYvJWJhIqpUeKU7QRrFAhvFALlsxM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"is_full\": {{ $json.is_full }},\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "8ae47a30-7283-4bc9-8938-0340e053255f",
      "name": "PATCH gd_stays.is_full ONLY",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet updated = 0;\nlet errors = 0;\nlet fullCount = 0;\n\nfor (const item of items) {\n  if (item.json.error) {\n    errors++;\n  } else {\n    updated++;\n    if (item.json.is_full === true) fullCount++;\n  }\n}\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Mise a jour is_full UNIQUEMENT (contenus CityCrunch preserves)',\n    sejours_mis_a_jour: updated,\n    sejours_entierement_complets: fullCount,\n    erreurs: errors,\n    WARNING: 'Ce workflow ne touche PAS aux contenus (title, accroche, programme, images)',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "db43384a-0339-4815-ac66-3c330b579422",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1008, 0]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Get 24 Séjours", "type": "main", "index": 0}]]
    },
    "Get 24 Séjours": {
      "main": [[{"node": "Fetch Page UFOVAL", "type": "main", "index": 0}]]
    },
    "Fetch Page UFOVAL": {
      "main": [[{"node": "Extract is_full ONLY (SAFE)", "type": "main", "index": 0}]]
    },
    "Extract is_full ONLY (SAFE)": {
      "main": [[{"node": "PATCH gd_stays.is_full ONLY", "type": "main", "index": 0}]]
    },
    "PATCH gd_stays.is_full ONLY": {
      "main": [[{"node": "Summary", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "meta": {
    "instanceId": "f8a23de1fd68d15e22ee36407dd306822e85dc7b64af1d83197e124084435d56"
  },
  "id": "ufoval_is_full_global_v3_safe",
  "tags": []
}
